<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

We are not displaying the whole "Contacts Table" because it contains all the users contacts (Privacy Issues).
<br>
<br>
But dont worry, you can view your list of contacts from our database by clicking "Show my contacts list" next to your name in the USERS page or the Home page.
<br>
<br>
<h3>If you want to add a new contact to your contacts list, you can do that by clicking the below link!</h3>
<br>

<%= link_to 'New Contact', new_contact_path %>
